<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
    </head>
    <body>
        <div id="chat"></div>
        <input id="message" placeholder="Type..." autofocus /><button onclick="sendMessage()">Send</button>
        <script>
            (async () => {
                const e = [...(await fetch("http://localhost:8000/welcome")).headers];
                addMessage(e[1][1], e[3][1]), addMessage(e[0][1], e[2][1]);
            })();

            var sendMessage = async function () {
                window.mes = document.getElementById("message").value.trimStart();
                var e = document.getElementById("chat").lastElementChild.innerText,
                    t = document.getElementById("chat").children[1].innerText;
                if (!mes) return !1;
                (async () => {
                    var d = [...(await fetch("http://localhost:8000/data", { method: "POST", headers: { m: mes, n: e, his: t } })).headers];
                    "<~`^>|" == d[0][1]
                        ? oo()

                        : "<~`^>||]" == d[0][1]
                        ? alert("No new data")
                        : "<~`^>||][" == d[0][1]
                        ? alert("No more history")
                        : "a" == d[0][0]
                        ? addHis(d[1][1], d[0][1])
                        : addMessage(d[0][1], d[1][1]);
                })(),
                    (document.getElementById("message").value = "");
            };
           
            function addHis(e, t) {
                (window.node = document.createElement("h1")),
                    (window.text = document.createTextNode(e)),
                    (window.child = document.createElement("h7")),
                    (window.cte = document.createTextNode(t)),
                    node.appendChild(text),
                    child.appendChild(cte),
                    (window.one = document.getElementById("chat").firstElementChild),
                    document.getElementById("chat").insertBefore(node, one),
                    document.getElementById("chat").insertBefore(child, one);
            }
     
            var addMessage = function (e, t) {
                var d = document.createElement("h2"),
                    n = document.createTextNode(e),
                    a = document.createElement("h5"),
                    c = document.createTextNode(t);
                d.appendChild(n), a.appendChild(c), document.getElementById("chat").append(d, a);
            };
   


            function oo(){
                alert("Database Cleared")
                        location.reload()
            
            }
   </script>
    </body>
</html>
